.sk-button {
          color:#EFEFEF!important;
          background:#EFEFEF!important;
          border:none!important;
          box-shadow:none!important;
        }
         
.sk-image {
          background:#000
        }
         
